/*setting backgoumd and body features*/
body{
    background: rgb(138, 212, 138);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-shadow: 1px 1px 1px blanchedalmond;
}

#DMA{
width: 3000px;
}
  
h1#header {
    margin-left: 202px;
    font-size: 50px;
    text-shadow: 0 4px 4px honeydew;
    background-color: rgb(228, 217, 217);
}

.main p{
    font-size: 20px;
    margin-left: auto;
    text-shadow: 0 4px 4px honeydew;
    /*background-color: rgb(228, 217, 217);*/
}

/*making borders for all images*/
img {
    border: 2px solid rgb(1, 36, 1);
}

/*setting the size of the images*/
img .teacher{
    width: 190px;
    height: 190px;
}

img .other{
    width: 200px;
    height: 150px;
}

#logo{
    border: 0px;
    float: left;
    width: 200px;
    height: auto;
}

/*setting the features for the table with Main purpose ect.*/
table.DMA,.DMA th,.DMA td,.DMA tr{
    border: 3px solid rgb(22, 78, 22);
    border-collapse: collapse;
    margin-top: auto;
    margin-left: auto;
}

table.DMA{
   /* display: inline-block;*/
    width: auto;
    height: auto;
    float: left;
    position: relative;
}

.DMA th ,.DMA td,.DMA tr{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 95%;
    color: black;
    text-shadow: white;
}

.DMA th h1, .DMA td h2{
    text-align: center;
}

.DMA th, .DMA td{
    width: 300px;
    height: auto;
    text-align: start;
}

.noBorder img{
    vertical-align: top;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
}

td.noBorder{
    border: 3px solid rgb(138, 212, 138);
    
}

audio{
    overflow: auto;
    clear: left;
    float: left;
}

/*making div for the teacher's part of the webside*/
div.teacher{

    clear: left;
}

.teacher figcaption{
    margin-top: 50px;
    position: relative;
    text-align: left;
    font-size: 30px;
}

.teacher img{
    position: relative;
    clear: left;
    float: left;
}

#logo
{
    float: left;
}

/* Styling and spacing for the top title (not logo) */
h1#home_header
{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: 45px;
    font-size: 2.2em;
    color: rgb(70, 29, 70);
}

/* Group div for logo and top title */
div#top_bar
{
    overflow: auto;
    clear: both;
    min-width: 800px;
}

/* Removes link underlining and sets text color */
.bar
{
    text-decoration: none;
    color: black;
    
}

/* Creates box around navigation bar and sets background */
div#nav_div
{
    height: 100px;
    background-color: blue;
    min-width: max-content;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

/* Allow centering of the navigation bar buttons */
div.table_trick
{
    display: table;
    margin: 0 auto;
}

/* Converts the vertical unordered list to horizontal elements for the navigation bar */
/* Style for individual buttons */
ul#nav_bar li
{
   display: inline;
   font-size: 1.6em;
   border-style: outset;
   border-width: 10px;
   border-color: darkblue;
   padding: 5px;
   padding-left: 10px;
   margin-right: 12px;
   border-radius: 8px;
   position: relative;
   /* Unordered list put in an indent, so this is a manual removal */
   right: 15px;
   
}

/* Remove the list style and move the buttons away from the top of the background */
ul#nav_bar 
{
    min-width: 100%;
    list-style: none;
    padding-top: 20px;
}




/* Styling each block with the respective text */
div#campus
{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 500px;
    overflow: auto;
    float: left;
}

div#learning
{
    width: 500px;
}

/* Aligning the elements inside the above blocks */
div#campus img
{
    border: solid 5px black;
}

div#campus a
{
    float: left;
}

/* Styling each block with the respective text */
div#campus
{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 800px;
    overflow: auto;
    float: left;
    clear: right;
}

div#learning
{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 800px;
    overflow: auto;
    float: left;
    clear: left;
}

/* Aligning the elements inside the above blocks */
div#campus img
{
    border: solid 5px black;
}

div#campus a
{
    float: left;
}

div#campus p
{
    padding: 15px;
    width: auto;
    position: relative;
    /* Padding workaround */
    width: 750px;
    left: 15px;
}

div#learning img
{
    float: right;
    border: solid 5px black;
}

div#learning p
{
    float: left;
    width: 530px;
    padding: 10px;
}

div#footer_div{
    clear: left;
}

ul#footer_bar
{
    min-width: 100%;
    list-style: none;
    padding-top: 20px;
}

ul#footer_bar li
{
    display: inline;
    font-size: 1.6em;

    padding: 5px;
    padding-left: 10px;
    margin-right: 12px;
    border-radius: 8px;
    position: relative;
    /* Unordered list put in an indent, so this is a manual removal */
    right: 15px;
}

.us td
{
    width: 300px;
    height: 300px;
    border-collapse: collapse;
    border-style: none;
}

.us
{
    border-style: none;
    margin-left: auto;
    margin-right: auto;

}

.us tr
{
    border-style: none;
}
