/*setting backgoumd and body features*/
body{
    background: rgb(138, 212, 138);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-shadow: 1px 1px 1px blanchedalmond;
}

/* Styling for header text */
h1#header {
    margin-left: 202px;
    font-size: 50px;
    text-shadow: 0 4px 4px honeydew;
    background-color: rgba(76, 76, 218, 0.726);
}

.main p{
    font-size: 20px;
    margin-left: auto;
    text-shadow: 0 4px 4px honeydew;
    /*background-color: rgb(228, 217, 217);*/
}

/*making borders for all images*/
img {
    border: 2px solid rgb(1, 36, 1);
    width: 200px;
    height: auto;
}

/*setting the size of the images*/
img .teacher{
    width: 190px;
    height: 190px;
}

img .other{
    width: 200px;
    height: 150px;
}

#logo{
    border: 0px;
    float: left;
    width: 200px;
    height: auto;
}

/*setting the features for the table with Main purpose ect.*/
table.courses,.courses th,.courses td,.courses tr{
    border: 3px solid rgb(22, 78, 22);
    border-collapse: collapse;
    margin-top: auto;
    margin-left: auto;
}

table.courses{
   /* display: inline-block;*/
    width: auto;
    height: auto;
    float: left;
    position: relative;
    background-color: darkseagreen;
}

/* Schedule table styling */
.courses th ,.courses td ,.courses tr{
    width: auto;
    height: auto;
    font-size: x-large;
    vertical-align: top;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 95%;
    color: black;
    text-shadow: white;
}

p.mainPurpose{
    text-align: center;
    vertical-align: middle;
}

/* Aligning the top of the schedule table */
.courses th h1, .courses td h2{
    position: relative;
    text-align: center;
}

.courses li{
    text-align: left;
    position: relative;
}

/* Picture to the right of the course description tables */
.noBorder img{
    vertical-align: top;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
}

/* Matching the elements right of the course description tables to the background to make it appear invisible */
td.noBorder{
    border: 3px solid rgb(138, 212, 138);
    background-color: rgb(138, 212, 138);
    
}

/* Audio element to play music */
audio{
    overflow: auto;
    clear: left;
    float: left;
}

/*making div for the teacher's part of the webside*/
div.teacher{
    clear: left;
}

/* Teachers' names*/
.teacher figcaption{
    margin-top: 50px;
    position: relative;
    text-align: left;
    font-size: 30px;
}

.teacher img{
    position: relative;
    clear: left;
    float: left;
}

#logo
{
    float: left;
}

/* Styling and spacing for the top title (not logo) */
h1#home_header
{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: 45px;
    font-size: 2.2em;
    color: rgb(70, 29, 70);
}

/* Group div for logo and top title */
div#top_bar
{
    overflow: auto;
    clear: both;
    min-width: 800px;
}

/* Removes link underlining and sets text color */
.bar
{
    text-decoration: none;
    color: black;
    
}

/* Creates box around navigation bar and sets background */
div#nav_div
{
    height: 100px;
    background-color: rgb(81, 148, 81);
    min-width: max-content;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

/* Allow centering of the navigation bar buttons */
div.table_trick
{
    display: table;
    margin: 0 auto;
}

/* Converts the vertical unordered list to horizontal elements for the navigation bar */
/* Style for individual buttons */
ul#nav_bar li
{
   display: inline;
   font-size: 1.6em;
   border-style: outset;
   border-width: 10px;
   border-color: darkblue;
   background-color: rgba(76, 76, 218, 0.726);
   padding: 5px;
   padding-left: 10px;
   margin-right: 12px;
   border-radius: 8px;
   position: relative;
   /* Unordered list put in an indent, so this is a manual removal */
   right: 15px;
   
}

/* Remove the list style and move the buttons away from the top of the background */
ul#nav_bar 
{
    min-width: 100%;
    list-style: none;
    padding-top: 20px;
}

/* Styling each block with the respective text */
div#campus
{
    border: ridge 5px darkblue;
    background-color: rgba(76, 76, 218, 0.726);
    text-shadow: none;
    width: 500px;
    overflow: auto;
    float: left;
}

div#learning
{
    border: ridge 5px darkblue;
    background-color: rgba(76, 76, 218, 0.726);
    text-shadow: none;
    width: 800px;
    overflow: auto;
    float: left;
    clear: left;
}

/* Aligning the elements inside the above blocks */
div#campus img
{
    border: outset 5px darkblue;
}

div#campus p
{
    padding: 15px;
    width: auto;
    position: relative;
    /* Padding workaround */
    width: 750px;
    left: 15px;
}

div#learning img
{
    float: right;
    border: outset 5px darkblue;
}

div#learning p
{
    float: left;
    width: 530px;
    padding: 15px;
}

div#footer_div{
    clear: left;
    background-color: rgb(81, 148, 81);
}

/* Footer sytling */
ul#footer_bar
{
    min-width: 100%;
    list-style: none;
    padding-top: 20px;
    background-color: rgb(81, 148, 81);
}

ul#footer_bar li
{
    display: inline;
    font-size: 1.6em;

    padding: 5px;
    padding-left: 10px;
    margin-right: 12px;
    border-radius: 8px;
    position: relative;
    /* Unordered list put in an indent, so this is a manual removal */
    right: 15px;
}

/* Table for contact us page to align elements */
.us td
{
    width: 300px;
    height: 300px;
    border-collapse: collapse;
    border-style: none;
}

.us
{
    border-style: none;
    margin-left: auto;
    margin-right: auto;

}

.us tr
{
    border-style: none;
}


/* Styling for schedule table */
.table, .table td, .table th{
    margin-left:auto;
    margin-right:auto;
    border-style:outset;
    border-collapse:collapse;
    border-width: 2px;
    border-color: rgb(98, 179, 87) ;
    size: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}


.table{
    width:85%
}



.center{
   text-align: center;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: rgba(76, 76, 218, 0.726);
   
}

/* Courses within schedule table */
.sdj{
    background-color: rgba(100, 199, 143, 0.582);
    height:40px;
    text-align: center;
}
.rwd{
    background-color:rgba(128, 128, 0, 0.76);height:40px;
    text-align: center;
}
.ws{
    background-color: rgba(3, 192, 3, 0.753);height:40px;
    text-align: center;
}
.sep{
    background-color: rgba(153, 205, 50, 0.664);height:40px;
    text-align: center;
}
.dma{
    background-color: rgba(95, 158, 160, 0.719); height:40px;
    text-align: center;
}
.emptySlots{
    background-color:rgb(1, 150, 100);
    height:40px;
text-align: center;
}

/* Column headers with days of the week */
.daysOfTheWeek{
    background-color: rgba(0, 163, 109, 0.5);
    
    height:60px;
    text-align: center;
}

/* Row headers with hours of the day */
.hours{
    background-color:rgba(0, 163, 109, 0.877);height:40px;
    text-align: center;
}

/* Empty box at the top left of the table */
.lonelyBox{
    background-color: rgba(0, 163, 109, 0.664);height:40px;
    text-align: center;
}


